* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  top: 0%;
  z-index: 100;
  position: sticky;
  background-color: #7a7063;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navbar-superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    #character {
      width: 300px;
      height: 50px;
      border-radius: 35px;
      border-style: none;
      text-align: start;
      font-size: 18px;
      margin-top: 1rem;
      padding-left: 1rem;
      background-color: #a39687;
    }
    .logo {
      width: 110px;
      height: 60px;
      margin-top: 0.5rem;
      margin-left: 1rem;
    }
  }
  .navbar-inferior {
    display: flex;
    justify-content: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #5e554a;
    height: 40px;
    align-items: center;
    #universe {
      border-radius: 20px;
      height: 30px;
      width: 120px;
      text-align: center;
      background-color: #e2d5d5;
      font-size: 14px;
    }
    .button {
      padding-right: 1rem;
      padding-left: 1rem;
      margin-right: 1rem;
      margin-left: 1rem;
      height: 30px;
      border-radius: 20px;
      border-style: none;
      width: 120px;
      font-size: 14px;
      font-family: "Times New Roman", serif;
      background-color: #e2d5d5;
    }
  }
}

.imgTa {
  width: 200px;
  height: 200px;
}

.body-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.8rem;
}

.history-character {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-history {
  width: 200px;
  height: 200px;
}

.characterMarvel {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 25px;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgb(189, 156, 133);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgb(189, 156, 133);
  border: 2px solid black;
  border-radius: 25px;
}

.characterDescription {
  font-size: 2rem;
  align-self: center;
}

.universe-list {
  font-size: 1.2rem;
}

.list-group {
  border: 2px solid black;
  background-color: rgb(189, 156, 133);
  margin: 0.8rem;
  border-radius: 15px;
}

.universe-container-list {
  padding: 2px;
}
